[mysqld]
innodb_buffer_pool_size = 8G
innodb_log_buffer_size  = 8M
innodb_file_per_table   = 1
innodb_open_files       = 600
innodb_io_capacity      = 600
innodb_flush_method     = O_DIRECT

key_buffer_size         = 128M
table_open_cache        = 400
myisam_sort_buffer_size = 512M
concurrent_insert       = 2
read_buffer_size        = 2M
read_rnd_buffer_size    = 1M

query_cache_limit       = 128K
query_cache_size        = 64M

[mariadb]
server_id=2
max_connections=2048

slave-skip-errors=1146,1032
expire_logs_days=2
